code.sh
DSnAlgo/
*.sh
.compilenrun.py.swp
include/opengl/test/
include/opengl/*.cpp
include/test/
include/.vscode/
include/.extarray.py.swn
include/.extarray.py.swo
include/.extarray.py.swp
include/.swp
include/*.gch
include/*.sh
include/pointTest
